ATMOSHPERE PARAMETERS
rho_atm 1.225e-3
pressure_atm 1e12
grav_acc 9.8e9
gravity_direction GRAVITY_Z
TerminalVelocityLimit 2.5e4

DISSOLUTION PARAMETERS
concen_diff 2e-3
concen_atm 2.27e-5

BUBBLE GENERATOR
(BGis, BGjs, BGks) 1 1 1
(BGie, BGje, BGke) 81 81 501
BubGen_type HYPERBOLICTAN 1e11
(Lx1, Lx2, epsx) -2.0 2.0 0.5
(Ly1, Ly2, epsy) -2.0 2.0 0.5
(z0, sigmaZ) -11.0 0.5
BubGen_dia 1e-3

NUMBER DENSITY BOUNDARY CONDITIONS
numdenBC.nW PERIODIC
numdenBC.nE PERIODIC
numdenBC.nS PERIODIC
numdenBC.nN PERIODIC
numdenBC.nB NEUMANN
numdenBC.nT NEUMANN

BUBBLE INITIAL CONDITION
bubble_init_cond UNIFORM 0.

BUBBLE MASS BOUNDARY CONDITIONS
bubmasBC.nW PERIODIC
bubmasBC.nE PERIODIC
bubmasBC.nS PERIODIC
bubmasBC.nN PERIODIC
bubmasBC.nB NEUMANN
bubmasBC.nT NEUMANN

BUBBLE MASS INITIAL CONDITION
bubmas_init_cond UNIFORM 0.

CONCENTRATION BOUNDARY CONDITIONS
concenBC.nW PERIODIC
concenBC.nE PERIODIC
concenBC.nS PERIODIC
concenBC.nN PERIODIC
concenBC.nB NEUMANN
concenBC.nT NEUMANN

CONCENTRATION INITIAL CONDITION
concen_init_cond UNIFORM 2.951e-5

TURBULENCE DRIVING CONDITIONS
turb_switch OFF
turbA 0.1
